@model PaymentRequest

<div>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Payment Cancelled!</h4>
        <hr>
        <p>Your payment of £@Model.Amount has been cancelled. Please try again or contact customer support if you continue to have issues.</p>
        <a asp-action="login" class="btn btn-primary">Home</a>
    </div>
</div>