
<div class="alert alert-info jumbotron">
    <p>We've sent a confirmation message to your registered email.</p>
    To verify your email, please check the message and follow its instructions.
    <p>Please check your Spam folder for the email if you've not recieved. </p>
</div>