@model PaymentRequest
<div>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Payment Successful!</h4>
        <hr>
        <p>Your payment of £@Model.Amount has been successfully processed. Thank you for your payment!</p>
        <a asp-action="Login" class="btn btn-custom-save">Home</a>
    </div>
</div>
