.welcome-page .logo {
    width: 64px;
}



.body-container {
    margin-top: 60px;
    padding-bottom: 40px;
}

.welcome-page li {
    list-style: none;
    padding: 4px;
}

.logged-out-page iframe {
    display: none;
    width: 0;
    height: 0;
}

.grants-page .card {
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
}

    .grants-page .card .card-title {
        font-size: 120%;
        font-weight: bold;
    }

        .grants-page .card .card-title img {
            width: 100px;
            height: 100px;
        }

    .grants-page .card label {
        font-weight: bold;
    }

.lordhood_icon {
    width: 30%;
}

.width_300 {
    width: 200px;
}

.lable_font {
    font-weight: bold;
    font-size: 15px;
}

.bg-background {
    background: linear-gradient(90deg, #1e3c72, #2a5298) !important; /* Blue gradient */
    padding: 0.7rem 1.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

/*.search-box {
    position: relative;
    padding-right: 40px;*/ /* adjust the padding to the width of the loader */
/*}

.loader {
    display: none;*/ /* hide the loader by default */
/*position: absolute;
    right: 10px;*/ /* adjust the position of the loader */
/*top: 50%;*/ /* adjust the position of the loader */
/*transform: translateY(-50%);*/ /* adjust the position of the loader */
/*width: 20px;*/ /* adjust the size of the loader */
/*height: 20px;*/ /* adjust the size of the loader */
/*background-image: url('~/spinner.svg');*/ /* replace with the path to your loader image */
/*background-size: cover;
}

.search-box.loading .loader {
    display: block;*/ /* show the loader when the textbox has the "loading" class */
/*}*/
.custom-header {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0 2px 8px rgba(102, 126, 234, 0.1);
}

.icon-banner {
    height: 40px;
    width: auto;
}

.brand-text {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #f1f1f1 !important;
    font-weight: 500;
}

    .navbar-nav .nav-link:hover {
        color: #ffd700 !important; /* gold hover */
    }

.dropdown-menu {
    border-radius: 8px;
    overflow: hidden;
}
.btn-custom-save {
    background-color: #007bff; /* Primary Blue */
    border: none;
    color: #fff;
   
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

   

.btn-custom-cancel {
    background-color: #dc3545; /* Red for cancel */
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

    